<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Strubelimutz</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/team" class="link">Team</a></li>
					<li><a href="/about" class="link">Über uns</a></li>
					<li><a href="/angebot" class="link">Angebot</a></li>
					<li><a href="/contact" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Aktuelles</h3>
				<ul class="mb3">
					<li><a href="/doc/ferienplan_17_18.pdf" target="_blank" class="link">Ferienplan 17/18</a></li>
					<li><a href="/doc/anmeldeformular.pdf" target="_blank" class="link">Anmeldeformular</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Sonstiges</h3>
				<ul class="mhn2">
					<li><a href="/doc/merkblatt.pdf" target="_blank" class="link">Merkblatt</a></li>
					<li><a href="/doc/situationsplan.pdf" target="_blank" class="link">Situationsplan</a></li>
					<li><a href="/about#raumvermietung" class="link">Raumvermietung</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
