<nav
  class="overflow-x-auto overflow-y-hidden flex justify-between items-center center bg-white divider-grey"
>
  <!-- Logo -->
  <a href="/" class="logo ml2 db flex-none flex items-center self-end h3 no-underline">
    <span class="f6 f3-m b primary-light pr2">
      STRUBELIMUTZ
    </span>
    <img
      src="/img/strubi.png"
      alt="Strubelimutz logo"
      class="br0 db mb0 mh-100"
    />
  </a>

  <!-- Primary Nav -->
  <ul class="flex b grey-3">
    <li><a href="/angebot" class="pa3 no-underline db">Angebot</a></li>
    <li><a href="/team" class="pa3 no-underline db">Team</a></li>
    <li><a href="/about" class="pa3 no-underline db nowrap">Über uns</a></li>
    <li><a href="/raumvermietung" class="pa3 no-underline db">Raumvermietung</a></li>
    <li><a href="/contact" class="pa3 no-underline db">Kontakt</a></li>
  </ul>
</nav>
