{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4 cms mb4">
    {{ .Content }}

    <div class="mb3">
      <div>
        <h4 class="f4 b lh-title mb2 primary">E-Mail</h4>
        <p>
          <a
            href="mailto:{{ .Params.email }}"
            >{{.Params.email}}</a
          >
        </p>
      </div>
      {{ range.Params.contact_entries }}
      <div>
        <h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
        <p>{{ .text }}</p>
      </div>
      {{ end }}
    </div>
</div>

{{ end }}
